@model List<Questions>
@{
    ViewData["Title"] = "Search";
}

<h1>Search Results</h1>
@foreach (Questions quest in Model)
{
    <div>
        Title: @quest.title <br />
        @*Detail: @quest.detail <br />*@
        Tags: @quest.tags <br />
        <a asp-controller="QandA" asp-action="Detail" asp-route-questId="@quest.id" class="btn btn-primary">See Answers</a>
        
    </div>
}
    

